body {}

.webstude {
    text-decoration: none;
}

ul {
    list-style: none;
}

.nav-info {
    text-decoration: none;   
}

.nav-info:hover {
    background: blue;
    color: red;
}

.email {
    text-decoration: none;
}

.contacto {
    text-decoration: none;
}

