body {
    background: #E5E5E5;
    font-family: 'Roboto', 'Arial';
}

/* //////////////////////////////////////// */
/* En esta posición trabajamos en el header */
/* //////////////////////////////////////// */
header {
    background: #FFFFFF;
}

header li {
    list-style: none;
}

/* En esta posición trabajo en el logo de la pagina */
.link-web {
    text-decoration: none;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #000509;
    cursor: pointer;
}

.link-web:hover, .link-web:focus {
    color: #2196F3;
}

/* En esta posición trabajo en la lista de navegación */
/* .linknav {
    display: flex;
} */
.link-nav a {    
    text-decoration: none;
    font-style: normal;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    cursor: pointer;
}

.link-nav a:hover,.link-nav a:focus{
    color: #2196F3;
}

/* En esta ósición trabajo de la lista de contacto */
/* .link-cont {
    display: flex;
} */

.link-cont a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #757575;
}

.link-cont a:hover, .link-cont a:focus {
    color: #2196F3;
}
/* Ya esta listo el header */
/* //////////////////////////////////////// */


/* ************************************** */
/* En esta posición trabajamos en el main */
/* ************************************** */
main {
    background: #FFFFFF;
}
main li {
    list-style: none;
}

/* Trabajo en la section del titulo principal */
.title-prin {
    background: #2F303A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}
/* Trabajo en la seción del boton */
.boton {
    /* le damos estilo al boton */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */

    /* Le damos estilo a las letras  */   
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;
    
    border: 2px solid var(--brand-color);
}

.boton:hover, .boton:focus {
    background: #2196F3;
    color: #FFFFFF;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/* Trabajamos en los titulos del cuerpo h2 */
h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    /* text-align: center; */
    letter-spacing: 0.03em;

    color: #212121;
}
/* Trabajamos en los titulos del cuerpo h3 */
h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}
/* Trabajo en la section de nuestro equipo */
.con-equipo {
    background: #F5F4FA;
}
/* ************************************** */

/* ---------------------------------------- */
/* En esta posición trabajamos en el footer */
/* ---------------------------------------- */
footer {
    background: #2F303A;
}
/* ---------------------------------------- */





